* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header,
.title,
.motto,
.footer {
    background-color: #EFDE31;
    color: black;
    display: flex;
}

.header {
    padding:24px;
    border-bottom: 8px solid black;
}

.page_title {
    font-size: 24px;
    font-weight: 800; 
    padding-left:176px;   
}

.head_links {
    display: flex;
    margin-left:auto;
    gap:72px;
    padding-right: 100px;
}

.link {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.title{
    padding-top:30px;
    padding-left: 200px;
    padding-bottom: 30px;
}

.title_text {
    display:flex;
    flex-direction: column;
    width:300px;
    flex-wrap:wrap;
    margin-right:100;
    gap:20px;
}

button {
    width:100px;
    height:45px;
    border:2px solid black;
    background-color: #EFDE31;
    border-radius: 8px;
}

button:hover {
    background-color: black;
    color: #EFDE31;
}

.title_image {
    margin-left:100px;
    width:auto;
    height: auto;
}

.info {
    flex-direction: column;
    display: flex;
    color:black;
    padding-bottom: 30px;
}

h3 {
    text-align: center;
    font-size: 36px;
    padding: 20px;
}

.subinfo {
    display: flex;
    justify-content: center;
    gap:200px;
}

.info1,
.info2,
.info3,
.info4 {
    flex-wrap: wrap;
    width:150px;
    height:250px;
    color
}

.info_p {
    text-align: center;
    padding-left:30px;
    margin-right:-15px;
    color: #575547;
}

img {
    border: 5px solid black;
    border-radius: 8px;
    width:200px;
    height:150px;
}

.motto {
    flex-direction: column;
    align-items: center;
    padding:40px;
    gap:20px;
}

.phrase {
    font-size:70px;
}

em {
    font-weight: 800;
}

.signup {
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}

.pop-up {
    background-color: #EFDE31;
    display: flex;
    justify-content: center;
    align-items: center;
    width:700px;
    height:75px;
    border-radius: 8px;
    margin-top:30px;
    padding-right:20px;
}

.volunteer {
    margin-left:20px;
}

.footer {
    justify-content: center;
    align-items: center;
    padding:10px;
}